# ДОМАШНЯЯ РАБОТА №1 (pandas)
### Требования к оформлению тетрадок прописаны в первой тетрадке учебных материалов.

### **Мягкий дедлайн: 6 октября.**
### **Жёсткий дедлайн: 11 октября.**
### После мягкого дедлайна за каждое задание можно получить только половину баллов. После жёсткого дедлайна работы не принимаются.


### **Критерии оценивания.** За каждую часть можно получить по 2 балла. 9/10 баллов можно получить только в том случае, если Вы не просто правильно выполните задания, но также построите графики и сделаете какие-то выводы на основе полученных результатов. Напишите, что кажется Вам закономерным/необычным. Какие ещё вопросы Вы бы задали к данным и как (предложите фреймворк кода)? Подумайте об ограничениях, особенностях данных и тд. 

### Удачи!

______________________________________________________________________________________________________________________________

### Вам предстоит проанализировать [датасет](https://www.kaggle.com/datasets/adilshamim8/educational-backgrounds-of-successful-people), содержащий сведения об образовании известных успешных людей.

## ЧАСТЬ 1: базовый анализ и очистка данных

#### Загрузите датасет и узнайте его размер, типы данных в столбцах.

#### Найдите количество пропущенных значений в каждом столбце. Выведите первые 5 строк, последние 3 строки и 2 случайные строки, а также с 10 по 15 строки.

#### Удалите колонку Scholarship/Award.

#### Переименуйте колонку "Profession", заменив на "Occupation".

####  Соберите статистику по столбцу GPA при помощи метода .describe(), не забудьте про NA.

#### Заполните пропуски в столбце GPA средним значением.

## ЧАСТЬ 2: фильтрация и поиск

#### Выведите всех выпускников Лиги плюща (Harvard University, Yale University, Princeton University, Columbia University, Brown University, University of Pennsylvania, Cornell University, Dartmouth College).

#### Найдите всех нобелевских лауреатов и выведите только их имена, страну и род деятельности.

## ЧАСТЬ 3: создание и преобразование столбцов

#### Создайте колонку 'Top_University' со значением True для университетов, входящих в топ-50. Обратите внимание на значения типа "231–240".

#### Создайте колонку Academic_Performance, в которую внесите значение:
#### - "High", если GPA выше 3.5 баллов,
#### - "Medium", если GPA от 3 до 3.49 баллов,
#### - "Low", если GPA ниже 3 баллов.

#### Посмотрите на уникальные значения в колонке Degree и приведите их к единообразию (Bachelor of Science -> Bachelor).

## ЧАСТЬ 4: агрегация и группировка

#### Найдите топ-5 университетов по количеству выпускников в датасете.

#### Найдите топ-5 самых популярных областей обучения среди предпринимателей.

#### Определите топ-5 стран с самыми высокими значениями GPA.

#### Сгруппируйте записи по профессиям и посчитайте:
#### - количество людей в каждой профессии,
#### - средний GPA для каждой профессии,
#### - количество людей с разными уровнями образования для каждой профессии.

#### Сгруппируйте данные сначала по стране и профессии. Посчитайте:
#### - количество людей,
#### - средний GPA.

#### Удалите NA в столбце с годом выпуска, преобразуйте значения в тип datetime64, сделайте столбец индексом датафрейма и сгруппируйте по десятилетиям (метод .resample). Посчитайте:
#### - количество выпускников в каждом десятилетии,
#### - наиболее популярную область обучения для каждого десятилетия,
#### - средний GPA.
#### PS: сначала избавьтесь от NA в соответствующей колонке.